body {
    font-family: "helvetica neue";
}

body > div {
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

pre code {
    font-size: 12px;
}

svg {
    font-size: 10px;
}

svg .axis path,
svg .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}