body {
    font-family: 'helvetica neue', helvetica, 'sans serif';
}

#examples > div {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

pre code {
    font-size: 12px;
}

svg {
    font-size: 10px;
}

svg .axis path,
svg .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

svg .label {
    font-size: 1.5em;
}
